# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
*.csv
*.xlsx

# Models
models/*
!models/.gitkeep
*.pkl
*.joblib

# MLflow
mlruns/
mlartifacts/

# DVC
.dvc/cache
.dvc/tmp

# Jupyter
.ipynb_checkpoints
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Great Expectations
uncommitted/
great_expectations/uncommitted/

# Environment
.env
.kaggle/

# Tests
.pytest_cache/
.coverage
htmlcov/
